{% from 'bootstrap5/form.html' import render_form %}
{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">{{ title }}</h1>

<div class="container mb-3 py-3 border rounded">
    <h3 class="mb-3">Update Account</h3>
    {{ render_form(update_account_form) }}
</div>

<div class="container mb-3 py-3 border rounded">
    <h3 class="mb-3">Update Profile Picture</h3>
    {{ render_form(update_profile_pic_form) }}
</div>

<div class="container mb-3 py-3 border rounded">
    <h3 class="mb-3">Update Password</h3>
    {{ render_form(update_password_form) }}
</div>

{% endblock %}