{% from 'bootstrap5/form.html' import render_field, render_hidden_errors %}
{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">{{ title }}</h1>

<form method="post">
    {{ form.hidden_tag() }}
    {{ render_hidden_errors(form) }}
    {% if type == 'album' %}
        <div class="mb-3">
            {{ form.listened_tracks.label }}
            <div class="input-group {{ 'is-invalid' if form.listened_tracks.errors else '' }}">
                {% if form.listened_tracks.errors %}
                    {{ form.listened_tracks(class='form-control is-invalid') }}
                {% else %}
                    {{ form.listened_tracks(class='form-control') }}
                {% endif %}
                <span class="input-group-text">/ {{ total_tracks }}</span>
            </div>
            {% if form.listened_tracks.errors %}
                {% for error in form.listened_tracks.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    {{ render_field(form.status) }}
    {{ render_field(form.submit) }}
</form>

{% endblock %}