{% extends "base.html" %}

{% block layout %}

{# Navbar Source: https://getbootstrap.com/docs/5.3/components/navbar/ #}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('players.index') }}">Spotify Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('players.index') }}">Home</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('players.user_library', user_id=current_user.get_id()) }}">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('players.user_reviews', user_id=current_user.get_id()) }}">Reviews</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('players.user_profile', user_id=current_user.get_id()) }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.account', user_id=current_user.get_id()) }}">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.logout') }}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.login') }}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container py-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}
</div>

{% endblock %}