{% from 'bootstrap5/form.html' import render_field, render_form %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% extends "base.html" %}

{% block content %}

{# Hero Source: https://getbootstrap.com/docs/5.3/examples/heroes/ #}
<div class="container col-xxl-8 px-4 py-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
      <div class="col-lg-4">
        <img src="{{ player.get_image() }}" class="d-block mx-lg-auto img-fluid" alt="{{ player.name }} Image" width="300" height="300" loading="lazy">
      </div>
      <div class="col-lg-8">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ player.name }}</h1>
        {% if player.type == 'album' %}
            <p class="lead">{{ player.album_type.capitalize() }}</p>
        {% else %}
            <p class="lead"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{{ url_for('players.player_detail', player_id=player.album.id, item='album') }}">{{ player.album.name }}</a></p>
        {% endif %}
        <div class="container mb-3">
            <div class="row">
                <div class="col-4">
                    Artists
                </div>
                <div class="col-8">
                    {{ player.get_artists_names() }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Release
                </div>
                <div class="col-8">
                    {{ player.get_release_date() }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Duration
                </div>
                <div class="col-8">
                    {{ player.get_duration_strf() }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Popularity
                </div>
                <div class="col-8">
                    {{ player.popularity }}
                </div>
            </div>
            {% if player.type == 'album' and player.genres %}
                <div class="row">
                    <div class="col-4">
                        Genres
                    </div>
                    <div class="col-8">
                        {{ player.get_genres_list() }}
                    </div>
                </div>
            {% endif %}
        </div>
        <h5 class="my-3">
            {{ render_icon('star-fill', color='warning') }} {{ rating if rating else 'N/A' }}
        </h5>
        {% if current_user.is_authenticated %}
            <div class="d-grid gap-1 d-md-flex justify-content-md-start mb-3">
                {% if not tracker %}
                    <form method="POST">
                        {{ add_form.csrf_token() }}
                        {{ render_field(add_form.submit_add, button_style='success', class='w-100') }}
                    </form>
                {% else %}
                    <a href="{{ url_for('players.edit_tracker', player_id=player.id) }}" role="button" class="btn btn-secondary btn-md">Edit</a>
                    <form method="POST">
                        {{ delete_form.csrf_token() }}
                        {{ render_field(delete_form.submit_delete, button_style='danger', class='w-100') }}
                    </form>
                {% endif %}
            </div>
        {% endif %}
      </div>
    </div>
</div>

{% if player.type == 'album' %}
<div class="container">
    <div class="list-group mb-5">
        {% for track in player.tracks %}
            <a href="{{ url_for('players.player_detail', player_id=track.id, item='track') }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <div class="row w-100">
                    <div class="col-md-8">
                        <h6 class="mb-0">{{ track.name }}</h6>
                        <p class="mb-0 opacity-75">{{ track.get_artists_names() }}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0">{{ render_icon('star-fill', color='warning') }} {{ track_ratings[track.id] if track.id in track_ratings else 'N/A' }}</p>
                    </div>
                    <div class="col-md-2 text-end">
                        <small class="opacity-50 text-nowrap">{{ track.get_duration_strf() }}</small>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="container">
    <h3 class="mb-3">Reviews</h3>
    {% if current_user.is_authenticated %}
        <div class="container mb-3 py-3 border rounded">
            <h5 class="mb-3">Submit Review</h5>
            {{ render_form(review_form) }}
        </div>
    {% endif %}
    <div class="list-group mb-3">
        {% if reviews %}
            {% for review in reviews %}
                <a href="{{ url_for('players.user_profile', user_id=review.user.id) }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="row w-100">
                        <div class="col-md-10">
                            <h6 class="mb-0">{{ review.user.username }}</h6>
                            <p class="mb-2 opacity-75">{{ review.last_updated }}</p>
                            <p>{{ review.comment }}</p>
                        </div>
                        <div class="col-md-2 text-end">
                            <small class="text-nowrap">{{ render_icon('star-fill', color='warning') }} {{ review.rating }}</small>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>No reviews so far...</p>
        {% endif %}
    </div>
</div>

{% endblock %}