{% extends "layout.html" %}

{% block content %}

{# Hero Source: https://getbootstrap.com/docs/5.3/examples/heroes/ #}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ image }}" class="d-block mx-lg-auto img-fluid rounded-circle" alt="{{ user.get_id() }}'s Profile Picture" width="300" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ user.username }}'s Profile</h1>
        {% if user.about %}
        <p class="lead">{{ user.about }}</p>
        {% endif %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{{ url_for('players.user_library', user_id=user.get_id()) }}" role="button" class="btn btn-success btn-lg px-4 me-md-2">Library</a>
            <a href="{{ url_for('players.user_reviews', user_id=user.get_id()) }}" role="button" class="btn btn-warning btn-lg px-4 me-md-2">Reviews</a>
            {% if current_user == user %}
            <a href="{{ url_for('users.account') }}" role="button" class="btn btn-primary btn-lg px-4">Edit Settings</a>
            {% else %}
            <a href="mailto:{{user.email}}" role="button" class="btn btn-primary btn-lg px-4">Email</a>
            {% endif %}
        </div>
      </div>
    </div>
</div>

{% endblock %}